.circular-img {
  border-radius: 50%;
  width: 100%;
  height: auto;
}
/* Container needed to position the button. Adjust the width as needed */
.mycontainer {
  position: relative;
  width: 300px;
  height: 300px;
  text-align: center;
}

/* Style the button and place it in the middle of the container/image */
.mycontainer .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.mycontainer .btn:hover {
  background-color: black;
}
a {
   cursor: pointer;
}
